# Application
NODE_ENV=development
# 3001 porque a porta 3000 é usada pelo front-end (Next.js) em desenvolvimento
PORT=3001

# CORS
CORS_ORIGIN=http://localhost:3000

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=espehria
# Nunca usar "true" em produção: cria/altera o schema automaticamente a partir das entities
DB_SYNCHRONIZE=false

# JWT
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

# Google OAuth (login com Google - validação de ID Token)
GOOGLE_CLIENT_ID=19520913496-ali926g7jstjvv3j67lcq7rjgovehi1p.apps.googleusercontent.com
